<c-container>

    <h3 class="text-center">
        Interventions
    </h3>
    <div class="align-items-end">
        <button (click)="toggleCollapse()" cButton class="mb-3 " color="primary" size="sm">{{visible? 'Annuler' :
            'Ajouter Intervention'}}</button>
        <c-card [ngClass]="'shadow mt-3 mb-3'" [visible]="visible" cCollapse>
            <c-card-body>
                <form #customStylesForm="ngForm" [validated]="customStylesValidated" cForm
                    class="row g-3 needs-validation" [formGroup]="formAddIntervention" (ngSubmit)=" isModifier? update(): addIntervention()">

                    <c-col md="6">

                        <label cLabel for="validationCustom01">Date Début :</label>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" cFormControl
                            formControlName="dateDebut" required="">
                        <c-form-feedback [valid]="false">Merci de sélectioner une date.</c-form-feedback>

                    </c-col>
                    <c-col md="6">

                        <label cLabel for="validationCustom01">Date Fin :</label>
                        <input type="date" id="start" name="trip-start" value="2018-07-22" cFormControl
                            formControlName="dateFin" required="">
                        <c-form-feedback [valid]="false">Merci de sélectioner une date.</c-form-feedback>

                    </c-col>
                    <c-col md="12">
                        <label cLabel for="inputState">Formation :</label>
                        <select required cSelect id="inputState" formControlName="formationId"
                            ng-options="item for item in formations">

                            <option *ngFor="let f of formations" [value]="f.id">{{f.slug}}</option>

                        </select>
                        <c-form-feedback [valid]="false">Merci de sélectioner une Formation</c-form-feedback>
                    </c-col>
                    <c-col md="12">
                        <label cLabel for="inputState">Promotion :</label>
                        <select required cSelect id="inputState" formControlName="promotionId">
                            <option *ngFor="let p of promotions" [value]="p.id">{{p.titreProfessionnelTitre + " " + p.villeNom}}</option>

                        </select>
                        <c-form-feedback [valid]="false">Merci de sélectioner une Promotion</c-form-feedback>
                    </c-col>
                    <c-col md="12">
                        <label cLabel for="inputState">Formateur :</label>
                        <select required cSelect id="inputState" formControlName="formateurId">
                            <option *ngFor="let f of formateurs" [value]="f.id">{{f.firstName + " " + f.lastName}}</option>

                        </select>
                        <c-form-feedback [valid]="false">Merci de sélectioner une Formateur</c-form-feedback>
                    </c-col>
                    <c-col xs="12" class="mb-2">
                        <button cButton   class="me-4" type="submit" color="success">{{isModifier?"Modifier" :
                            "Ajouter"}}</button>

                        <button (click)="onReset1()" cButton color="secondary">
                            Réinitialiser
                        </button>
                    </c-col>
                    <c-col xs="12" class="mb-2">
                    </c-col>
                </form>

            </c-card-body>
        </c-card>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <c-input-group>
            <input aria-describedby="button-addon2" aria-label="Recipient's username" cFormControl placeholder="Jean"
                formControlName="search" />
            <button cButton color="info" id="button-addon2" type="submit" variant="outline">
                Recherche
            </button>
        </c-input-group>
    </form>
    <table [hover]="true" [striped]="true" cTable>
        <thead>
            <tr>
                <th scope="col">Date Début</th>
                <th scope="col">Date Fin </th>
                <th scope="col">Formation </th>
                <th scope="col">Promotion </th>
                <th scope="col">Formateur </th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="interventions; else noIntervention">
            <tr
                *ngFor="let i of interventions | paginate: {itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalItems}">
                <td>{{i.dateDebut}} </td>
                <td>{{i.dateFin}}</td>
                <td> {{
                    getFormationSlug(i.formationId )
                    }}</td>
                <td>{{getPrmotionName(i.promotionId) }}</td>
                <td>{{getFormateurName(i.formateurId)}}</td>

                <td class="text-center">
                    <div class="d-flex justify-content-around ">
                        <button cButton class="mb-3 " (click)="modifier(i)" color="dark" size="sm">Modifier</button>
                        <button cButton class="mb-3 " (click)="delete(i.id)" color="danger" size="sm">Supprimer</button>
                    </div>
                    <a [routerLink]="['/detailIntervention/'+i.id]">Detail Intervention </a>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noIntervention>
        <span class="text-danger">Aucun Intervention trouvé !</span>
    </ng-template>
    <pagination-controls *ngIf="interventions" (pageChange)="pageChanged($event)" previousLabel="Précédent"
        nextLabel="Suivant">
    </pagination-controls>

</c-container>