<c-container>

    <h3 class="text-center">
        Titres professionnels
    </h3>
    <c-alert [(visible)]="visibleAlert" [dismissible]="true" color="warning" fade *ngIf="visibleAlert">
        <strong>{{nombreTpMiseAjour}}</strong> Titres professionnels mise à jour.
    </c-alert>
    <div class="align-items-end">
        <button (click)="UpdateDg2()" cButton class="mb-3 " color="primary" size="sm">Mettre à jour</button>

    </div>
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <c-input-group>
            <input aria-describedby="button-addon2" aria-label="Recipient's username" cFormControl
                placeholder="Concepteur" formControlName="search" />
            <button cButton color="info" id="button-addon2" type="submit" variant="outline">
                Recherche
            </button>
        </c-input-group>
    </form>
    <table [hover]="true" [striped]="true" cTable>
        <thead>
            <tr>
                <th scope="col">Titre</th>
                <th scope="col">Slug </th>
                <th scope="col" class="text-center">Action</th>
            </tr>
        </thead>
        <tbody *ngIf="titresProfessionnels; else noTitrePro">
            <tr
                *ngFor="let t of titresProfessionnels | paginate: {itemsPerPage:itemsPerPage, currentPage: currentPage, totalItems:totalItems}">
                <td>{{t.titre}} </td>
                <td>{{t.slug}}</td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <a [routerLink]="['/blocCompetences/'+t.id]">Bloc de compétences associé </a>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <ng-template #noTitrePro>
        <span class="text-danger">Aucun titre professionnel trouvé !</span>
    </ng-template>
    <pagination-controls *ngIf="titresProfessionnels" (pageChange)="pageChanged($event)" previousLabel="Précédent"
        nextLabel="Suivant">
    </pagination-controls>

</c-container>