<c-container>
    
      <h4>
        Du {{intervention.dateDebut | date }} Au {{intervention.dateFin | date}}
      </h4>
    <table [hover]="true" [striped]="true" cTable>
        <thead>
          <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prenom</th>
            <th scope="col">Email</th>
            <th scope="col">Role</th>
            <th scope="col">Active</th>
            <th scope="col" class="text-center">Positionnement</th>
          </tr>
        </thead>
        <tbody *ngIf="etudiants; else noUsers">
          <tr
            *ngFor="let u of etudiants ">
            <td>{{u.firstName}} </td>
            <td>{{u.lastName}}</td>
            <td>{{u.email}}</td>
            <td>{{u.role | titlecase}}</td>
            <td [ngClass]="u.active ? 'text-success' :'text-danger'">{{u.active | yesNo }}</td>
         
            <td>

              <div class="d-flex justify-content-around ">

                
              
                <div> niveau début: {{ getPosiByIdEtu(u.id)?.niveauDebutId}} </div>
                <div> niveau fin: {{ getPosiByIdEtu(u.id)?.niveauFinId}} </div>

                <button cButton class="mb-3 " (mouseenter)="voir(u)" [cModalToggle]="modalXl.id" color="secondary" size="sm"> {{getPosiByIdEtu(u.id) == null ?'Ajouter positionnement':'Modifier positionnement' }}</button> 
                
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <ng-template #noUsers>
        <span class="text-danger">Aucun Etudiant trouvé !</span>
      </ng-template>
      <c-modal #modalXl id="modalXl" size="lg">
        <c-modal-header>
          <h5 cModalTitle> {{etudiantModal.firstName + " " + etudiantModal.lastName }}
          </h5>
        </c-modal-header>
        <c-modal-body>
  
            <form #customStylesForm="ngForm"  cForm
                    class="row g-3 needs-validation" [formGroup]="formAddPositionnement" (ngSubmit)=" isModifier? update(): addPositionnement()">

                  
                    <c-col md="12">
                        <label cLabel for="inputState">Niveau début :</label>
                        <select required cSelect id="inputState" formControlName="niveauDebutId"
                            ng-options="item for item in formations">

                            <option *ngFor="let n of niveaux" [value]="n.id">{{n.description}}</option>

                        </select>
                        <c-form-feedback [valid]="false">Merci de sélectioner une Formation</c-form-feedback>
                    </c-col>
                    <c-col md="12">
                        <label cLabel for="inputState">Niveau début :</label>
                        <select required cSelect id="inputState" formControlName="niveauFinId"
                            ng-options="item for item in formations">

                            <option *ngFor="let n of niveaux" [value]="n.id">{{n.description}}</option>

                        </select>
                        <c-form-feedback [valid]="false">Merci de sélectioner une Formation</c-form-feedback>
                    </c-col>
                    <c-col xs="12" class="mb-2">
                        <button cButton   class="me-4" type="submit" color="success">{{isModifier?"Modifier" :
                            "Ajouter"}}</button>

                   
                    </c-col>
                    <c-col xs="12" class="mb-2">
                    </c-col>
                </form>
          <ng-template #noPromo>
            <span class="text-danger">Aucune Promotion trouvée !</span>
          </ng-template>
          
        </c-modal-body>
      </c-modal>

</c-container>
